Repository reachskumar/comp-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(mirror): dynamic INSERT chunk size based on column count
  apps/api/src/modules/compport-bridge/services/mirror-sync.service.ts
Due: eslint --fix, prettier --write

fix(copilot): system prompt directs agent to use mirror tools for comp data
  packages/ai/src/graphs/copilot-graph.ts
Due: eslint --fix, prettier --write

feat(copilot): event-driven Redis cache for Compport data access
  apps/api/src/modules/compport-bridge/compport-bridge.module.ts
  apps/api/src/modules/compport-bridge/services/compport-query-cache.service.ts
  apps/api/src/modules/compport-bridge/services/inbound-sync.service.ts
  apps/api/src/modules/copilot/copilot.service.ts
Due: eslint --fix, prettier --write

fix: align CompportQueryCacheService.listTables return type with MirrorDbAdapter
  apps/api/src/modules/compport-bridge/services/compport-query-cache.service.ts
Due: eslint --fix, prettier --write

feat: Phase 1+2 — UX fixes + Rules Orchestrator Graph
  apps/api/src/modules/dashboard/dashboard.service.ts
  packages/ai/src/graphs/copilot-graph.ts
  packages/ai/src/graphs/rules-orchestrator-graph.ts
  packages/ai/src/index.ts
Due: eslint --fix, prettier --write

fix: TS errors in rules-orchestrator-graph
  packages/ai/src/graphs/rules-orchestrator-graph.ts
Due: eslint --fix, prettier --write

fix: banner stuck + currency formatting + chart preference
  apps/api/src/modules/dashboard/dashboard.service.ts
  packages/ai/src/graphs/copilot-graph.ts
Due: eslint --fix, prettier --write

fix(copilot): mandatory charts + markdown tables + export guidance
  packages/ai/src/graphs/copilot-graph.ts
Due: eslint --fix, prettier --write

fix(copilot): reinforce single-line JSON in chart blocks
  packages/ai/src/graphs/copilot-graph.ts
Due: eslint --fix, prettier --write

fix(chart): angled labels + INR formatting + label truncation
  apps/web/src/components/copilot-chart.tsx
  packages/ai/src/graphs/copilot-graph.ts
Due: eslint --fix, prettier --write

fix(chart): outlier handling + stable formatter refs + more departments
  apps/web/src/components/copilot-chart.tsx
  packages/ai/src/graphs/copilot-graph.ts
Due: eslint --fix, prettier --write

fix(chart): frontend post-processing — sort, limit, format, truncate
  apps/web/src/components/copilot-chart.tsx
Due: eslint --fix, prettier --write

feat: auto-trigger full sync on tenant creation + onboarding
  apps/api/src/modules/platform-admin/platform-admin.service.ts
Due: eslint --fix, prettier --write

feat: GKE infrastructure + K8s manifests + monitoring
  infra/k8s/README.md
  infra/k8s/base/api-deployment.yaml
  infra/k8s/base/ingress.yaml
  infra/k8s/base/namespace.yaml
  infra/k8s/base/pod-disruption-budget.yaml
  infra/k8s/base/sync-worker-deployment.yaml
  infra/k8s/base/web-deployment.yaml
  infra/k8s/monitoring/prometheus.yaml
  infra/terraform/modules/gke/main.tf
  infra/terraform/modules/gke/outputs.tf
  infra/terraform/modules/gke/variables.tf
Due: prettier --write

fix(terraform): remove import blocks (TF 1.5 incompatible) + fix GKE labels
  infra/terraform/main.tf
  infra/terraform/modules/gke/main.tf
  infra/terraform/modules/secrets/main.tf
  infra/terraform/variables.tf
Due: none

feat: GKE fully deployed — DNS cutover complete
  infra/k8s/base/api-deployment.yaml
  infra/k8s/base/ingress.yaml
  infra/k8s/base/sync-worker-deployment.yaml
  infra/terraform/main.tf
  infra/terraform/modules/gke/main.tf
  infra/terraform/modules/gke/variables.tf
Due: none

docs: complete rewrite of README.md + context.md
  README.md
  context.md
Due: prettier --write

docs: update context.md for next session continuity
  context.md
Due: prettier --write

feat: CI/CD pipeline rewritten for GKE deployment
  .github/workflows/deploy.yml
  infra/k8s/base/api-deployment.yaml
  infra/k8s/base/sync-worker-deployment.yaml
Due: none

fix(chart): auto-remove outliers that squash other bars flat
  apps/web/src/components/copilot-chart.tsx
Due: eslint --fix, prettier --write

feat(ui): Phase 1 — design system reset + dashboard cleanup
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/globals.css
Due: eslint --fix, prettier --write

feat(ui): Phase 2 — login + copilot + avatar cleanup
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/app/(dashboard)/dashboard/ai-copilot/page.tsx
Due: eslint --fix, prettier --write

fix(ci): increase rollout timeout to 300s (was 120s, timed out on large images)
  .github/workflows/deploy.yml
Due: none

feat: A+B+C+D+F — UI polish, Cloud Run decommission, Grafana, copilot guardrails
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  infra/k8s/monitoring/compportiq-dashboard.json
  packages/ai/src/graphs/copilot-graph.ts
Due: eslint --fix, prettier --write

fix: ensureConnectorExists now stores encrypted MySQL credentials
  apps/api/src/modules/platform-admin/platform-admin.service.ts
Due: eslint --fix, prettier --write

feat: direct Compport MySQL reads for all agents + UI pages
  apps/api/src/modules/analytics/simulation.service.ts
  apps/api/src/modules/compliance/compliance.service.ts
  apps/api/src/modules/compport-bridge/compport-bridge.module.ts
  apps/api/src/modules/compport-bridge/controllers/compport-data.controller.ts
  apps/api/src/modules/compport-bridge/services/compport-data.service.ts
  apps/api/src/modules/copilot/copilot.service.ts
  apps/web/src/app/(dashboard)/dashboard/benchmarking/page.tsx
  apps/web/src/app/(dashboard)/dashboard/comp-cycles/active/page.tsx
  apps/web/src/app/(dashboard)/dashboard/equity/page.tsx
  apps/web/src/app/(dashboard)/dashboard/letters/page.tsx
  apps/web/src/app/(dashboard)/dashboard/payroll/runs/page.tsx
  apps/web/src/app/(dashboard)/dashboard/rules/rule-sets/page.tsx
  apps/web/src/components/compport-data-table.tsx
  apps/web/src/hooks/use-compport-data.ts
  packages/ai/src/graphs/copilot-graph.ts
Due: eslint --fix, prettier --write

fix: remove undefined react-hooks/exhaustive-deps eslint rule reference
  apps/web/src/app/(dashboard)/dashboard/admin/customers/[id]/page.tsx
Due: eslint --fix, prettier --write

fix: add format property to auto-detected columns type
  apps/web/src/components/compport-data-table.tsx
Due: eslint --fix, prettier --write

ci: allow test step to fail (pre-existing test infra issues)
  .github/workflows/ci.yml
Due: none

fix(deploy): remove auto-rollback, increase health check patience
  .github/workflows/deploy.yml
Due: none

feat: switch AI provider from Azure OpenAI GPT-4o to Claude Opus 4
  .env.production.example
  packages/ai/package.json
  packages/ai/src/config.ts
Due: eslint --fix, prettier --write

chore: update default model to Claude Opus 4.6 (claude-opus-4-6)
  .env.production.example
  packages/ai/src/config.ts
Due: eslint --fix, prettier --write

infra: switch K8s deployments to Claude Opus 4.6
  infra/k8s/base/api-deployment.yaml
  infra/k8s/base/sync-worker-deployment.yaml
Due: none

chore: update pnpm lockfile for @langchain/anthropic
  pnpm-lock.yaml
Due: none

fix: use clientOptions.timeout for ChatAnthropic (not top-level)
  packages/ai/src/config.ts
Due: eslint --fix, prettier --write

fix: add 'anthropic' to AI_PROVIDER env validation whitelist
  apps/api/src/config/env.validation.ts
Due: eslint --fix, prettier --write

fix: compa-ratio now reads pay ranges from Compport MySQL first
  apps/api/src/modules/copilot/copilot.service.ts
Due: eslint --fix, prettier --write

fix: cast compportBands to Record[] for TS map callback
  apps/api/src/modules/copilot/copilot.service.ts
Due: eslint --fix, prettier --write

feat: add /compport-data/audit endpoint for data availability check
  apps/api/src/modules/compport-bridge/controllers/compport-data.controller.ts
Due: eslint --fix, prettier --write

fix: bypass catalog validation — query Compport MySQL directly
  apps/api/src/modules/compport-bridge/services/compport-data.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md,css}
