Repository reachskumar/comp-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: remove @theme inline to fix dark mode in Tailwind v4
  apps/web/src/app/globals.css
Due: prettier --write

feat(copilot): add compa-ratio metric calculation for salary analysis
  apps/api/src/modules/copilot/copilot.service.ts
Due: eslint --fix, prettier --write

feat: add AI copilot panel, nudges system, and rule generator
  apps/api/src/app.module.ts
  apps/api/src/modules/nudges/index.ts
  apps/api/src/modules/nudges/nudge.controller.ts
  apps/api/src/modules/nudges/nudge.module.ts
  apps/api/src/modules/nudges/nudge.service.ts
  apps/api/src/modules/rules/dto/generate-rules.dto.ts
  apps/api/src/modules/rules/dto/index.ts
  apps/api/src/modules/rules/rules.controller.ts
  apps/api/src/modules/rules/rules.module.ts
  apps/api/src/modules/rules/services/rule-generator.service.ts
  apps/web/src/app/(dashboard)/dashboard/ai-copilot/page.tsx
  apps/web/src/app/(dashboard)/dashboard/comp-cycles/merit-matrix/page.tsx
  apps/web/src/app/(dashboard)/dashboard/rules/rule-sets/page.tsx
  apps/web/src/app/(dashboard)/layout.tsx
  apps/web/src/components/ai-rule-wizard.tsx
  apps/web/src/components/copilot-panel.tsx
  apps/web/src/components/nudge-cards.tsx
  apps/web/src/components/top-bar.tsx
  apps/web/src/hooks/use-copilot.ts
  apps/web/src/hooks/use-nudges.ts
Due: eslint --fix, prettier --write

chore(api): add exceljs dependency for Excel rule upload and report export
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(rules): add rule upload service with file parsing and role-based ac
  apps/api/src/common/guards/roles.guard.ts
  apps/api/src/common/index.ts
  apps/api/src/modules/benchmarking/benchmarking.controller.ts
  apps/api/src/modules/compport-bridge/controllers/write-back.controller.ts
  apps/api/src/modules/copilot/copilot.controller.ts
  apps/api/src/modules/letters/letters.controller.ts
  apps/api/src/modules/letters/letters.service.ts
  apps/api/src/modules/reports/reports.controller.ts
  apps/api/src/modules/reports/reports.service.ts
  apps/api/src/modules/rules/dto/index.ts
  apps/api/src/modules/rules/dto/rule-upload.dto.ts
  apps/api/src/modules/rules/rules.controller.ts
  apps/api/src/modules/rules/rules.module.ts
  apps/api/src/modules/rules/services/rule-upload.service.ts
Due: eslint --fix, prettier --write

feat: add market data import/ageing, rule analysis graph, and write-back
  apps/api/src/modules/analytics/analytics.module.ts
  apps/api/src/modules/analytics/simulation.service.ts
  apps/api/src/modules/benchmarking/benchmarking.module.ts
  apps/api/src/modules/benchmarking/dto/market-data-source.dto.ts
  apps/api/src/modules/benchmarking/services/market-data-ageing.service.ts
  apps/api/src/modules/benchmarking/services/market-data-import.service.ts
  apps/api/src/modules/compport-bridge/compport-bridge.module.ts
  apps/api/src/modules/compport-bridge/services/compport-cloudsql.service.ts
  apps/api/src/modules/compport-bridge/services/history.service.ts
  apps/api/src/modules/compport-bridge/services/write-back-field-map.ts
  apps/api/src/modules/compport-bridge/services/write-back.service.ts
  apps/api/src/modules/copilot/copilot.service.ts
  apps/api/src/modules/rules/dto/index.ts
  apps/api/src/modules/rules/dto/llm-generate.dto.ts
  apps/api/src/modules/rules/rules.controller.ts
  apps/api/src/modules/rules/rules.module.ts
  apps/api/src/modules/rules/services/llm-rule-generator.service.ts
  apps/web/src/app/(dashboard)/dashboard/benchmarking/page.tsx
  apps/web/src/hooks/use-benchmarking.ts
  packages/ai/src/graphs/copilot-graph.ts
  packages/ai/src/graphs/rule-analysis-graph.ts
  packages/ai/src/index.ts
  packages/ai/src/tools/copilot-tools.ts
  packages/ai/src/tools/index.ts
  packages/ai/src/tools/rule-management-tools.ts
  packages/database/prisma/migrations/20260320100000_add_market_data_providers/migration.sql
  packages/database/prisma/schema.prisma
Due: eslint --fix, prettier --write

feat: add CSV and Excel file upload support for policies and rules with
  apps/api/src/modules/policy-rag/policy-rag.controller.ts
  apps/api/src/modules/rules/rules.controller.ts
  apps/api/src/modules/rules/services/policy-converter.service.ts
  apps/api/src/modules/rules/services/rule-upload.service.ts
  apps/web/src/app/(dashboard)/dashboard/ai-policies/page.tsx
  apps/web/src/app/(dashboard)/dashboard/rules/rule-sets/page.tsx
  apps/web/src/hooks/use-policy-rag.ts
Due: eslint --fix, prettier --write

fix(test): add missing historyService mock and fix column name in write-back tests
  apps/api/src/modules/compport-bridge/write-back.test.ts
Due: eslint --fix, prettier --write

chore(gitignore): add keys directory to gitignore
  .gitignore
Due: none

feat(integrations): add SSL support for Cloud SQL and COMPPORT_CLOUDSQL
  apps/api/src/modules/compport-bridge/controllers/inbound-sync.controller.ts
  apps/api/src/modules/compport-bridge/services/compport-cloudsql.service.ts
  apps/api/src/modules/compport-bridge/services/inbound-sync.service.ts
  apps/api/src/modules/compport-bridge/services/write-back.service.ts
  apps/api/src/modules/integrations/dto/connector-query.dto.ts
  apps/api/src/modules/integrations/dto/create-connector.dto.ts
  apps/web/src/hooks/use-integrations.ts
  packages/shared/src/integrations/connector.types.ts
Due: eslint --fix, prettier --write

feat(admin): add data explorer pages for admins and tenants
  apps/api/src/modules/compport-bridge/controllers/inbound-sync.controller.ts
  apps/api/src/modules/platform-admin/platform-admin.module.ts
  apps/api/src/modules/platform-admin/platform-admin.service.ts
  apps/api/src/modules/platform-admin/platform-admin.test.ts
  apps/web/src/app/(dashboard)/dashboard/admin/data-explorer/page.tsx
  apps/web/src/app/(dashboard)/dashboard/data/explorer/page.tsx
  apps/web/src/hooks/use-admin.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/navigation.ts
Due: eslint --fix, prettier --write

feat(admin): add password support for tenant and admin user creation
  apps/api/src/modules/platform-admin/dto/create-tenant.dto.ts
  apps/api/src/modules/platform-admin/platform-admin.service.ts
  apps/web/src/app/(dashboard)/dashboard/admin/customers/[id]/page.tsx
  apps/web/src/app/(dashboard)/dashboard/admin/onboarding/page.tsx
  apps/web/src/hooks/use-admin.ts
  apps/web/src/lib/api-client.ts
Due: eslint --fix, prettier --write

feat(admin): enhance password requirements with complexity validation
  apps/api/src/modules/platform-admin/dto/create-tenant.dto.ts
  apps/web/src/app/(dashboard)/dashboard/admin/customers/[id]/page.tsx
  apps/web/src/app/(dashboard)/dashboard/admin/onboarding/page.tsx
Due: eslint --fix, prettier --write

feat(admin): add password confirmation validation for user creation
  apps/web/src/app/(dashboard)/dashboard/admin/customers/[id]/page.tsx
  apps/web/src/app/(dashboard)/dashboard/admin/onboarding/page.tsx
Due: eslint --fix, prettier --write

fix(ci): correct API health check URL from /api/health to /health
  .github/workflows/deploy.yml
Due: none

fix(ci): preserve data across deploys, use production seed
  .github/workflows/deploy.yml
Due: none

fix: add RLS auth bypass policy for login flow
  packages/database/prisma/migrations/20260327100000_rls_auth_bypass/migration.sql
Due: none

feat: add per-tenant feature flags and Compport tenant discovery
  apps/api/src/auth/auth.service.ts
  apps/api/src/modules/platform-admin/dto/create-tenant.dto.ts
  apps/api/src/modules/platform-admin/platform-admin.controller.ts
  apps/api/src/modules/platform-admin/platform-admin.module.ts
  apps/api/src/modules/platform-admin/platform-admin.service.ts
  apps/api/src/modules/settings/settings.service.ts
  apps/web/src/app/(dashboard)/dashboard/admin/onboarding/page.tsx
  apps/web/src/components/sidebar.tsx
  apps/web/src/hooks/use-admin.ts
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/navigation.ts
  apps/web/src/stores/auth-store.ts
Due: eslint --fix, prettier --write

fix: move compport-tenants endpoint before tenants routes to prevent par
  apps/api/src/modules/platform-admin/platform-admin.controller.ts
Due: eslint --fix, prettier --write

refactor: simplify admin onboarding form by removing compport tenant loo
  apps/web/src/app/(dashboard)/dashboard/admin/onboarding/page.tsx
Due: eslint --fix, prettier --write

fix: resolve duplicate route registration causing API startup crash
  apps/api/src/modules/compport-bridge/compport-bridge.module.ts
  apps/api/src/modules/platform-admin/platform-admin.module.ts
Due: eslint --fix, prettier --write

Add RLS debug logging
  packages/database/src/rls-extension.ts
Due: eslint --fix, prettier --write

fix(platform-admin): use forTenant for RLS-scoped database operations
  apps/api/src/modules/platform-admin/platform-admin.service.ts
  apps/api/src/modules/platform-admin/platform-admin.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md,css}
