Repository reachskumar/comp-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{ts,tsx,js,jsx,json,md,css}": ["prettier --write"]
}

feat: add production seed script and staging terraform configuration
  .env.production.example
  .github/workflows/deploy.yml
  apps/web/next.config.mjs
  infra/terraform/environments/staging/terraform.tfvars
  infra/terraform/modules/cloudrun/main.tf
  packages/database/package.json
  packages/database/prisma/seed-prod.ts
Due: eslint --fix, prettier --write

chore: update GCP project IDs to compportiq-ai for prod and staging envi
  infra/terraform/environments/prod/terraform.tfvars
  infra/terraform/environments/staging/terraform.tfvars
Due: none

style: format terraform env blocks with consistent indentation
  infra/terraform/modules/cloudrun/main.tf
Due: none

feat(analytics): add EDGE report persistence and retrieval endpoints
  apps/api/src/modules/analytics/analytics.controller.ts
  apps/api/src/modules/analytics/edge-regression.service.ts
Due: eslint --fix, prettier --write

feat(copilot): add conversation persistence and management
  apps/api/src/modules/copilot/copilot.controller.ts
  apps/api/src/modules/copilot/copilot.service.ts
  apps/api/src/modules/copilot/dto/conversation-query.dto.ts
  apps/api/src/modules/copilot/dto/index.ts
  apps/web/src/hooks/use-copilot.ts
  packages/ai/src/graphs/copilot-graph.ts
  packages/ai/src/index.ts
  packages/ai/src/streaming.ts
  packages/ai/src/tools/copilot-tools.ts
  packages/database/prisma/migrations/20260306100000_add_copilot_conversations/migration.sql
  packages/database/prisma/schema.prisma
Due: eslint --fix, prettier --write

feat(analytics): add EDGE pay equity analysis dashboard with streaming r
  apps/api/src/modules/analytics/analytics.controller.ts
  apps/api/src/modules/analytics/edge-regression.service.ts
  apps/web/src/app/(dashboard)/dashboard/analytics/pay-equity/edge/page.tsx
  apps/web/src/lib/navigation.ts
  packages/ai/src/streaming.ts
Due: eslint --fix, prettier --write

chore: add placeholder secret versions for Azure OpenAI configuration
  infra/terraform/modules/secrets/main.tf
Due: none

chore: defer CMEK encryption and wildcard SSL certificate setup
  infra/terraform/modules/cloudsql/main.tf
  infra/terraform/modules/load-balancer/main.tf
Due: none

chore: update Cloud Run health check endpoints to use /health path
  infra/terraform/modules/cloudrun/main.tf
Due: none

chore(web): add react-markdown and remark-gfm dependencies for copilot markdown rendering
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add ENTERPRISE edition constraint to Cloud SQL instance
  infra/terraform/modules/cloudsql/main.tf
Due: none

chore: remove ENTERPRISE edition constraint from Cloud SQL instance
  infra/terraform/modules/cloudsql/main.tf
Due: none

chore: add password support to Redis queue connection configuration
  apps/api/src/queue/queue.module.ts
Due: eslint --fix, prettier --write

feat(analytics): add EDGE pay equity regression analysis engine
  apps/api/src/modules/analytics/analytics.controller.ts
  apps/api/src/modules/analytics/analytics.module.ts
  apps/api/src/modules/analytics/dto/edge-analysis.dto.ts
  apps/api/src/modules/analytics/dto/index.ts
  apps/api/src/modules/analytics/edge-regression.service.ts
  apps/api/src/modules/analytics/index.ts
  apps/web/src/app/(dashboard)/dashboard/ai-copilot/page.tsx
  packages/ai/src/graphs/copilot-graph.ts
  packages/ai/src/graphs/pay-equity-graph.ts
  packages/ai/src/tools/copilot-tools.ts
  packages/database/prisma/migrations/20260309100000_add_edge_pay_equity/migration.sql
  packages/database/prisma/schema.prisma
Due: eslint --fix, prettier --write

chore: update Cloud Run startup probe to use TCP socket and adjust probe
  infra/terraform/modules/cloudrun/main.tf
Due: none

chore: pre-create .turbo directories in Dockerfiles to avoid QEMU race c
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

chore(infra): production deployment fixes — parameterize URLs, isolate state, add WIF script, fix deploy workflow
  .github/workflows/deploy.yml
  .gitignore
  infra/scripts/setup-wif.sh
  infra/terraform/environments/prod/backend.tfvars
  infra/terraform/environments/prod/terraform.tfvars
  infra/terraform/environments/staging/backend.tfvars
  infra/terraform/environments/staging/terraform.tfvars
  infra/terraform/main.tf
  infra/terraform/modules/cloudrun/main.tf
  infra/terraform/modules/cloudrun/variables.tf
  infra/terraform/modules/load-balancer/outputs.tf
  infra/terraform/outputs.tf
  infra/terraform/versions.tf
Due: none

fix(deploy): resolve VPC connector lookup for Cloud Run v2 migration jobs
  .github/workflows/deploy.yml
Due: none

fix(deploy): fix --set-secrets format for Cloud Run jobs
  .github/workflows/deploy.yml
Due: none

fix(deploy): use API service account for migration/seed Cloud Run jobs
  .github/workflows/deploy.yml
Due: none

fix: use pnpm exec instead of npx + bump job memory to 1Gi
  .github/workflows/deploy.yml
Due: none

fix(deploy): include prisma CLI + tsx in prod image for migration/seed jobs
  .github/workflows/deploy.yml
  apps/api/Dockerfile
Due: none

fix: remove RLS for 16 tables that have no CREATE TABLE migration
  .github/workflows/deploy.yml
  packages/database/prisma/migrations/20260227100000_add_rls_policies/migration.sql
Due: none

fix: make RLS migration idempotent with DROP POLICY IF EXISTS
  packages/database/prisma/migrations/20260227100000_add_rls_policies/migration.sql
Due: none

fix(deploy): nuke schema before migration to clear dirty state
  .github/workflows/deploy.yml
Due: none

fix: disable TLS certificate verification for pg Pool in seed script
  packages/database/prisma/seed.ts
Due: eslint --fix, prettier --write

fix: disable TLS cert verification for seed Cloud Run job
  .github/workflows/deploy.yml
Due: none

fix: add missing azureAdOid column migration for users table
  packages/database/prisma/migrations/20260318100000_add_azure_ad_oid/migration.sql
Due: none

fix: explicit fetch response typing for Vercel TS build compatibility
  apps/api/src/modules/currency/currency.service.ts
Due: eslint --fix, prettier --write

fix: explicit fetch response typing in auth.controller and compport-api.service for Vercel TS compatibility
  apps/api/src/auth/auth.controller.ts
  apps/api/src/modules/compport-bridge/services/compport-api.service.ts
Due: eslint --fix, prettier --write

feat(database): add catch-up migration for 19 missing tables and schema drift
  packages/database/prisma/migrations/20260318110000_add_missing_schema_objects/migration.sql
Due: none

fix: replace undefined adminUser with admin in seed.ts
  packages/database/prisma/seed.ts
Due: eslint --fix, prettier --write

fix(database): auto-detect SSL mode from connection string in pool confi
  packages/database/src/index.ts
Due: eslint --fix, prettier --write

ci(docker): pass NEXT_PUBLIC_API_URL as build arg to web container
  .github/workflows/deploy.yml
  apps/web/Dockerfile
Due: none

fix: use sameSite=none+secure for CSRF cookie to support cross-origin production
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

fix: add CSRF token and credentials to copilot/policy streaming hooks
  apps/web/src/hooks/use-copilot.ts
  apps/web/src/hooks/use-policy-rag.ts
  apps/web/src/lib/csrf.ts
Due: eslint --fix, prettier --write

fix: create job levels without nextLevelId first to avoid FK constraint
  packages/database/prisma/seed.ts
Due: eslint --fix, prettier --write

fix: add CORS headers to SSE streaming responses
  apps/api/src/modules/analytics/analytics.controller.ts
  apps/api/src/modules/copilot/copilot.controller.ts
Due: eslint --fix, prettier --write

fix: provide thread_id for simulation graph to avoid checkpoint_blobs null constraint violation
  apps/api/src/modules/analytics/simulation.service.ts
Due: eslint --fix, prettier --write

style: rebrand from green to indigo/violet color scheme with enhanced UI
  apps/web/public/compport-icon.svg
  apps/web/public/compport-logo.svg
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/app/(auth)/login/page.tsx
  apps/web/src/app/(dashboard)/dashboard/ai-copilot/page.tsx
  apps/web/src/app/(dashboard)/dashboard/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/sidebar.tsx
  apps/web/src/components/top-bar.tsx
Due: eslint --fix, prettier --write
